.modal-body
{
  overflow: visible;

.Econtainer
{
 display: block;
 width:fit-content;
 display: flex;
 flex-wrap: wrap ;
 margin-right: auto;
 margin-left: auto;

.card
{
 
  margin-bottom: 5000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.445), 0 6px 20px 0 rgba(0, 0, 0, 0.596);
  text-align: center;
  padding: 5px;


  
}

}
}
a
{
  margin:10px;
}


