
.formContainer
{ 
  
    margin:50px;
    margin-left: 18%;
.card
{
    width:  75%;
    margin-bottom: 25px;
    .card-body
    {
  

    padding: -30px;
    }
  
}
}
#newField1
{
    display: none;

}
#newField2
{
    display: none;

}
.formContainer2
{
    padding: 25px;
h6
{
    text-align: center;
}
}