.card
{
    margin: 50px;
    text-align: center;

.jumbotron
{
    hr
    {
        width: 80%;
    }
    h1
    {
     text-align: center; 
    }

    .container
    { 
       
        margin-bottom: 50px;
           
           
          button
          {
           margin-right: 30px;
          }
        
    }


.Container
{
    visibility: hidden;
   
 
      margin:  auto auto;
      input[type=number]
      {
         padding-left: 50px;
      }


}



  }
}
