.card
{
    margin: 50px;
    text-align: center;

.jumbotron
{
    hr
    {
        width: 80%;
    }
    h1
    {
     text-align: center; 
    }

    .container
    { 
       
        margin-bottom: 50px;
           
           
          button
          {
           margin-right: 30px;
          }
        
    }


.QFContainer
{
  text-align: center;
  visibility: hidden;
   
     
     
      input
      {
         margin-right: 50px;
      }
      input[type = number]
      {
        text-align: center;
        width: 6%;
      
      }
    

}



  }
}
